<div id='post_modal' class ='hidden'>
  <%= form_for Post.new(),:html => {:class => 'post-form'} do |f| %>
    <h1 class='top'> Title</h1>
    <%= f.text_field :title, :class => 'text' %> 
    <h1> URL </h1>
    <%= f.url_field :url, :class => 'text'%> 
    <h1> Desicription </h1>
    <%= f.text_area :description, :class => 'text-area' %>
    <%= f.submit :class => 'submit' %> <br>
    <button id='close_post'> cancel </button>
  <% end %>
</div>