<div class='sidebar'>
  <h4> F R O N T - E N D E R </h4>
  <p> Your daily source of front-end dopeness. </p>
  <div class='buttons'>
    <button id="open_post"> NEW POST </button> <br>
     <%# if current_user %>
      <!-- button for logout -->
      <%#= link_to "logout", '/logout' %><br>
    <%# else %>
      <!-- <button id='open_signup'> SIGNUP </button><br> -->
      <!-- <button id='open_login'> LOGIN </button><br> -->
    <%# end %>
  </div>
</div>
<div class='main'>
  <% @days.each do |day| %>
    <section>
<!--       <div class='date'>
        <h1> <%#= day.date %> </h1>
      </div> -->
      <% day.posts.each do |post| %>
      <%#= link_to "upvote", upvote_path(:post_id => post.id), :remote => true %>
      <%#= link_to "downvote", downvote_path(:post_id => post.id), :remote => true %>
        <div class='post'>
          <div class='calender'>
            <% day = post.day.date.split(' ') %>
            <h4> <%= day.first%> </h4>
            <h4 class='num'> <%= day.last%> </h4>
          </div>
          <h3> <a href=<%=post.url%> target="_blank"><%= post.title %> </a> </h3>
          <p> 
            <%= post.description %>
            <!-- Posted By:  -->
            <%# if post.user %> 
              <%#= post.user.name %>
            <%# else %>
              <!-- Anon -->
            <%# end %>
          </p>

          <%#= post.upvotes %>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
  <!-- modal for post -->
  <%= render 'post' %>
  <!-- modal for sign up -->
  <%= render 'signup' %>
  <!-- modal for login -->
  <%= render 'login' %>
