<div class='sidebar'>
   <% if current_user %>
    <!-- button for logout -->
    <%= link_to "logout", '/logout' %>
  <% else %>
    <button id="open_post"> new post</button>
    <button id='open_signup'> Signup </button>
    <button id='open_login'> Login </button>
  <% end %>
</div>
<div class='main'>
  <% @days.each do |day| %>
    <section>
      <div class='date'>
        <h1> <%= day.date %> </h1>
      </div>
      <% day.posts.each do |post| %>
      <%#= link_to "upvote", upvote_path(:post_id => post.id), :remote => true %>
      <%#= link_to "downvote", downvote_path(:post_id => post.id), :remote => true %>
        <div class='post'>
          <h3> <%= post.title %> </h3>
          <p> Posted By: 
            <% if post.user %> 
              <%=post.user %>
            <% else %>
              Anon
            <% end %>
          </p>

          <%#= post.upvotes %>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
  <!-- modal for post -->
  <%= render 'post' %>
  <!-- modal for sign up -->
  <%= render 'signup' %>
  <!-- modal for login -->
  <%= render 'login' %>
